*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
      
}
html,body{
    height: 100%;
    width: 100%;
}
h1{
    background-color: #3E3232;
    color: white;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    font-family: "Kanit", sans-serif;
    font-size: 50px;
}
.options{
    font-family: "Noto Emoji", sans-serif;
    color: white;
    font-weight: 400;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 100px;
   
}
.option{
    background-color: #7E6363;
    border-radius: 50%;
    padding: 20px;
}
.option:hover{
    background-color: #503C3C;
    cursor: pointer;
}

.score-board{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Kanit";
    font-size: 30px;
    gap: 70px;
    margin-top: 100px;
}
#user-score,#comp-score{
    font-size: 70px;
    background-color: #503C3C;
    display: inline;
    padding: 0 10px;
    border-radius: 10px;
    color: white;
}
.msg-container{  
    margin-top: 50px; 
    text-align: center;
}
#msg{
    padding: 0 10px;
    font-size: 50px;
    font-family: "Kanit";
    display: inline;
    background-color: #3E3232;
    border-radius: 10px;
    color: white;
}


/* New styles for responsive design */
@media only screen and (max-width: 600px) {
    h1{

        font-size: 35px;
    }
    .options {
        font-size: 50px; /* Adjust font size for smaller screens */
        gap: 10px; /* Decrease gap between options */
    }
    .score-board {
        font-size: 20px; /* Adjust font size for smaller screens */
        gap: 50px; /* Decrease gap between score elements */
        margin-top: 50px; /* Decrease margin for smaller screens */
    }
    #user-score, #comp-score {
        font-size: 50px; /* Adjust font size for smaller screens */
        padding: 0 5px; /* Decrease padding for smaller screens */
    }
    #msg {
        font-size: 30px; /* Adjust font size for smaller screens */
        padding: 0 5px; /* Decrease padding for smaller screens */
    }
}
